# General
.DS_Store
node_modules/
dist/
build/

# Firebase
firebase-debug.log
.firebaserc~
.storage/
.emulators/

# Hosting build tools (si los tuvieras)
.cache/
.tmp/

# Functions
functions/node_modules/
functions/.runtimeconfig.json
functions/.env
functions/.env.*
functions/*.local
functions/.parcel-cache/
functions/.turbo/

# Service accounts (¡no subir!)
*.serviceaccount.json
*.key.json

# IDE/Editor
.vscode/
.idea/
*.iml
